body {
  padding-left: 15px;
  padding-right: 15px;
  font: 12px "roboto-web", "system-ui", "-apple-system", "BlinkMacSystemFont", "Roboto", "sans-serif";
  background-color: white;
}

a {
  color: #00B7FF;
}
